# These bash scripts must use Unix-style line ending on all platforms.
installRelease text eol=lf
makeAllExts text eol=lf
makeExt text eol=lf
makeKHR text eol=lf
sandboxCopy text eol=lf
config/optimize-pdf text eol=lf
scripts/checkXrefs text eol=lf

*.sh text eol=lf
