# These bash scripts must use Unix-style line ending on all platforms.
doc/specs/vulkan/installRelease text eol=lf
doc/specs/vulkan/makeAllExts text eol=lf
doc/specs/vulkan/makeExt text eol=lf
doc/specs/vulkan/makeKHR text eol=lf
doc/specs/vulkan/sandboxCopy text eol=lf
doc/specs/vulkan/config/optimize-pdf text eol=lf
doc/specs/vulkan/scripts/checkXrefs text eol=lf

*.sh text eol=lf
