# Copyright 2023-2024 The Khronos Group Inc.
# SPDX-License-Identifier: CC-BY-4.0

Faith Ekstrand <faith.ekstrand@collabora.com> <jason@jlekstrand.net>
Faith Ekstrand <faith.ekstrand@collabora.com> <jason.ekstrand@intel.com>
Faith Ekstrand <faith.ekstrand@collabora.com> <jason.ekstrand@collabora.com>
Lina Versace <linyaa@google.com> <chad.versace@intel.com>
Lina Versace <linyaa@google.com> <chadversary@google.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>
