# Copyright 2023-2026 The Khronos Group Inc.
# SPDX-License-Identifier: CC-BY-4.0

Aidan Fabius <afabius@lynx.com> <aidan.fabius@coreavi.com>
Faith Ekstrand <faith.ekstrand@collabora.com> <jason@jlekstrand.net>
Faith Ekstrand <faith.ekstrand@collabora.com> <jason.ekstrand@intel.com>
Faith Ekstrand <faith.ekstrand@collabora.com> <jason.ekstrand@collabora.com>
Greg Szober <gszober@lynx.com> <greg.szober@coreavi.com>
Lina Versace <linyaa@google.com> <chad.versace@intel.com>
Lina Versace <linyaa@google.com> <chadversary@google.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>
Tom Malnar <tmalnar@lynx.com> <tom.malnar@coreavi.com>
