// Copyright (c) 2014-2016 Khronos Group. This work is licensed under a
// Creative Commons Attribution 4.0 International License; see
// http://creativecommons.org/licenses/by/4.0/

vkGetBufferMemoryRequirements(3)
================================

Name
----
vkGetBufferMemoryRequirements - Returns the memory requirements for specified Vulkan object.

C Specification
---------------

// refBegin vkGetBufferMemoryRequirements Returns the memory requirements for specified Vulkan object.

To determine the memory requirements for a buffer resource, call:

include::../protos/vkGetBufferMemoryRequirements.txt[]


Parameters
----------

  * pname:device is the logical device that owns the buffer.
  * pname:buffer is the buffer to query.
  * pname:pMemoryRequirements points to an instance of the
    slink:VkMemoryRequirements structure in which the memory requirements of
    the buffer object are returned.


Description
-----------

include::../validity/protos/vkGetBufferMemoryRequirements.txt[]


See Also
--------

slink:VkBuffer, slink:VkDevice, slink:VkMemoryRequirements


Document Notes
--------------

For more information, see the Vulkan Specification at URL

https://www.khronos.org/registry/vulkan/specs/1.0/xhtml/vkspec.html#vkGetBufferMemoryRequirements

This page is extracted from the Vulkan Specification.
Fixes and changes should be made to the Specification,not directly.

include::footer.txt[]

