vkGetImageMemoryRequirements(3)
=================================

Name
----
vkGetImageMemoryRequirements - Returns the memory requirements for specified Vulkan object.

C Specification
---------------

include::../protos/vkGetImageMemoryRequirements.txt[]

Parameters
----------

pname:device::
    Logical device which owns pname:image.

pname:image::
    Object to query.

pname:pMemoryRequirements::
    Pointer to a data structure to receive the result of the query.

Description
-----------

fname:vkGetImageMemoryRequirements retrieves memory requirements for the image object whose
handle is given in pname:image. The pname:pMemoryRequirements parameter should point to an instance
of an slink:VkMemoryRequirements structure which will be filled with the memory requirements of the
image object. The definition of slink:VkMemoryRequirements is as follows:

include::../structs/VkMemoryRequirements.txt[]

The pname:size member of slink:VkMemoryRequirements reports the size of the memory allocation, measured
in bytes, required by the image. pname:alignment reports the required alignment of the memory allocation,
also measured in bytes. When memory is bound to the image object, the offset of the range within
the memory object must be an integer multiple of this value. The pname:memoryTypeBits member is a
bitfield with each set bit representing a valid memory type. Memory types for a device may be
determined by calling flink:vkGetPhysicalDeviceMemoryProperties. The least significant bit
if pname:memoryTypeBits represents the first memory type returned from
flink:vkGetPhysicalDeviceMemoryProperties, the next bit represents the second memory type and so on.

include::../validity/protos/vkGetImageMemoryRequirements.txt[]

See Also
--------

flink:vkBindImageMemory, flink:vkGetPhysicalDeviceMemoryProperties

include::footer.txt[]
