# Copyright 2021-2022 The Khronos Group Inc.
# SPDX-License-Identifier: Apache-2.0

# Github CI file for vulkan spec and header generation
# See .gitlab-ci.yml for non-Actions comments and step dependencies.

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or manual dispatch
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  license-check:
    name: Verify repository license compliance
    runs-on: ubuntu-latest
    container: khronosgroup/docker-images:asciidoctor-spec

    steps:
      - uses: actions/checkout@v3
      - name: REUSE license checker
        run: reuse lint

  terminology-check:
    name: Run various checker scripts on the spec and XML sources
    runs-on: ubuntu-latest
    container: khronosgroup/docker-images:asciidoctor-spec

    steps:
      - uses: actions/checkout@v3
      - name: Internal self-test of the check_spec_links script
        run: py.test-3 test*.py
        working-directory: scripts
      - name: Generate a summary of problems for CI logs (if any)
        run: |
          mkdir -p gen/out/checks
          scripts/check_spec_links.py --html=gen/out/checks/problems.html > /dev/null || true
          make allchecks

  spec-generate:
    name: Build the vulkan specification and generate any associated files (such as vulkan.h)
    runs-on: ubuntu-latest
    container: khronosgroup/docker-images:asciidoctor-spec

    steps:
      - uses: actions/checkout@v3
      - name: Build the actual spec (both chunked and single-page HTML), and other common targets
        run: ./makeSpec -clean -spec all QUIET= -j${nproc} -Otarget manhtmlpages validusage styleguide registry chunked html
      - name: Build the core-only spec, to try and catch ifdef errors in extension markup
        run: ./makeSpec -clean -spec core -genpath gencore QUIET= -j${nproc} -Otarget chunked html
      - name: Build headers, for use by all later stages
        run: make validate install test
        working-directory: xml
      - name: Package generated spec
        # https://github.com/actions/upload-artifact#limitations
        # upload-artifact would upload all of almost 10k files individually
        # to GitHub, taking an inordinate amount of time. Tar it to upload
        # just one large file:
        run: tar -cvf spec-outputs.tar gen/
      - name: Archive generated spec
        uses: actions/upload-artifact@v3
        with:
          name: spec-outputs
          path: spec-outputs.tar

  hpp-generate:
    name: Generate the vulkan C++ header (vulkan.hpp)
    runs-on: ubuntu-latest
    needs: spec-generate

    steps:
      - uses: actions/checkout@v3
      # Generate the vulkan C++ header (vulkan.hpp)
      # Failure (should be) allowed, for now
      - name: Download generated spec
        uses: actions/download-artifact@v3
        with:
          name: spec-outputs
      - name: Unpack generated spec
        run: tar -xvf spec-outputs.tar
      - run: |
          SPEC_DIR="${PWD}"
          #  Unfortunately, asciidoctor-pdf gets pathname-specific errors
          # building under the usual $GITHUB_WORKSPACE (/__w). As a workaround,
          # generate the outputs in /tmp.
          cd /tmp
          rm -rf Vulkan-Hpp
          git clone https://github.com/KhronosGroup/Vulkan-Hpp.git
          cd Vulkan-Hpp
          git submodule update --init --recursive -- tinyxml2
          rm -rf Vulkan-Docs
          ln -s "${SPEC_DIR}" Vulkan-Docs
          ##cp -r "${SPEC_DIR}" Vulkan-Docs
          # Copy Vulkan C headers into subdir copy used by Vulkan-Hpp
          ##cp -p ${SPEC_DIR}/include/vulkan/*.h Vulkan-Docs/include/vulkan/
          echo "Files in Vulkan-Docs:"
          find Vulkan-Docs -type f
          # cd /tmp/Vulkan-Hpp
          cmake -H. -Bbuild
          make -C build
          cd build
          ./VulkanHppGenerator "${SPEC_DIR}"/xml/vk.xml
          cp /tmp/Vulkan-Hpp/vulkan/*.hpp ${SPEC_DIR}/gen/include/vulkan/
      - name: Upload generated hpp
        uses: actions/upload-artifact@v3
        with:
          name: hpp-outputs
          path: gen/include/

  h-compile:
    name: Compile a simple test program that uses vulkan.h
    runs-on: ubuntu-latest
    needs: spec-generate

    steps:
      - uses: actions/checkout@v3
      - name: Download generated files
        uses: actions/download-artifact@v3
        with:
          name: spec-outputs
      - name: Unpack generated spec
        run: tar -xvf spec-outputs.tar
      # Compile a simple test program that uses vulkan.h
      # The fake platform headers in tests/ allow compiling with all Vulkan
      # platforms at once.
      - run: |
          gcc -c -std=c11 -Igen/include -Itests -Wall -Wextra -Werror tests/htest.c
          clang -c -std=c11 -Igen/include -Itests -Wall -Wextra -Werror tests/htest.c

  hpp-compile:
    name: Compile a simple test program that uses vulkan.hpp
    runs-on: ubuntu-latest
    needs: [spec-generate, hpp-generate]

    steps:
      - uses: actions/checkout@v3
      - name: Download generated spec
        uses: actions/download-artifact@v3
        with:
          name: spec-outputs
      - name: Unpack generated spec
        run: tar -xvf spec-outputs.tar
      - name: Download generated hpp
        uses: actions/download-artifact@v3
        with:
          name: hpp-outputs
          path: gen/include/
      # Compile a simple test program that uses vulkan.hpp
      # Depends on spec-generate and hpp-generate
      # Failure (should be) allowed, for now
      - run: |
          g++ -c -std=c++11 -Igen/include -IVulkan-Hpp -Wall -Wextra -Werror tests/hpptest.cpp
          clang++ -c -std=c++11 -Igen/include -IVulkan-Hpp -Wall -Wextra -Werror tests/hpptest.cpp
